body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#controls {
    display: none;
}

.source_link {
    color: #ffffff;
    text-decoration: none;
    font-size: 10px;
    transition: 0.2s;
}

.source_link:hover {
    color: #bfc4e4;
}

button,input {
    font-family: 'Poppins', sans-serif;
}

.inline {
    display: inline;
}

.inline_br {
    display: inline;
    font-size: 24px;
}