body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.top {
    background-color: #1d1d1dab;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 9px;
    padding-bottom: 5px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: #000000 0px 0px 8px;
}

.top_input {
    width: 500px;
}

.text {
    font-size: 12px;
    margin: 0;
}

.button {
    font-size: 10px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 9px;
    padding-right: 9px;
    border-style: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    transition: 0.2s;
}

.button:disabled {
    background-color: #c2c2c2;
    color: #666666;
}

.button:hover {
    background-color: #838383;
    color: #ffffff;
    box-shadow: #ffffff 0px 0px 2px;
}

.button:active {
    box-shadow: #ffffff 0px 0px 4px;
}

.button,input {
    font-family: 'Poppins', sans-serif;
}

.input {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-style: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    transition: 0.2s;
}

.input:focus {
    outline: none;
    animation-name: input_text;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.input:hover {
    background-color: #e2e2e2;
    box-shadow: #ffffff 0px 0px 3px;
}

@keyframes input_text {
    0% {background-color: #e2e2e2;}
    50% {background-color: #ffffff;}
    100% {background-color: #e2e2e2;}
}